:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

thead {
  background-color: rgba(62, 206, 62, 0.728);
  font-family: "Mogra", serif;
  font-size: 2rem;
  height: 100px;
  color: #ffffff;
}

thead th {
  border-bottom:2px solid white
}

th,
td {
  border-bottom: 2px solid black;
  padding: 15px;
}

.selectedRow:hover {
  background-color: rgb(229, 227, 227);
}

html:hover {
  cursor: url('./assets/cursorpng.png'), auto;
}

button{
  width: 100%;
  background-color: pink;
  border: 0px solid white;
  height: 2rem;
  font-size: 1rem;
  font-weight: 600;
}

button:hover{
  background-color: rgb(255, 166, 181);
  cursor: url('./assets/cursorpng.png'), auto;
  transform: translateY(-2px);

}

.header{
  font-weight: 700;
}
