html{
    background-color: antiquewhite;
    font-family: "Princess Sofia", cursive;
}
h1{
    text-align: center;
    font-size: 3rem;
}
/* images */
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.imgWrapper{
    position: relative;
    width: 45%;
    margin-bottom: 10px;
    border: 10px solid rgba(165, 42, 42, 0.423);
}
.imgWrapper:nth-child(3) {
    width: 100%;  /* Make the third image full-width */
}

.imgWrapper img {
    width: 100%;
    height: 100%;
    display: block;
}
.imgWrapper span {
    position: absolute;
    top: 50%;  /* Positions the text in the middle vertically */
    left: 50%; /* Centers the text horizontally */
    transform: translate(-50%, -50%);  /* Ensures perfect centering */
    color: white;
    font-size: 20px;
    background-color: rgba(165, 42, 42, 0.423);
    font-weight: bold;
    z-index: 1;  /* Places the text on top of the image */
}
img .hugs{
object-fit: contain;}

/* form */
h2{
    text-align: center;
}
form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:16px ;
}
.centered{
    justify-self: center;}
    
#message,
#submit{
    width: 100%;
    height: 100%;
}
.full-width{
    grid-column: 1 / 3;
}
.submitted-form{
    margin-top: 50%;
}
